{% extends "core/base.html" %}

{% block titile %}Contacto{% endblock titile %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<!-- <span class="subheading">Asesoría</span> -->
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>A continuación dejo mi número de contacto para mayor información.</p>
        <p><b>Teléfono:</b> +57 300 592 7933</p>
    </div>
</div>
{% endblock content %}

